@charset "UTF-8";
body {
	background-color: #a6c3ae;
}

h1, h2 {
	margin-left: 34%;
	font-style: italic;
	color: #675373;
}

table {
	margin-left: 36%;
}

input[type="text"], input[type="number"], input[type="password"] {
	padding: 10px;
	width: 150%;
}

.errorSpan {
	color: red;
	font-size: 16px;
	font-family: inherit;
}

input[type="button"], input[type="submit"]	 {
	background-color: #789879;
	border: none;
	color: white;
	padding: 15px 40px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin-left: 200%;
	margin-top: 10%;
	cursor: pointer;
}

#header {
	background: #728e72;
	font-size: 20px;
}

#parentDiv {
	border-top: 2px solid #dedecd;
	font-style: italic;
	color: blue;
}

#childSubDiv {
	width: 50%;
	text-align: right;
	margin-left: 50%;
	margin-top: -1%;
}

marquee {
	border-bottom: 2px solid #dedecd;
	font-style: italic;
	color: blue;
}

#listPageTable {
	width: 100% !important;
	margin-left: 0% !important;
}

.searchHeader{
	border-bottom: 2px solid #565625;
}
